<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Nuestros Articulos</h2>
        <a th:href="@{/nuevoCliente}">Nuevo Cliente</a>
        <div th:if="${articulos != null and !articulos.empty}"> 
            <table border="1">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio</th>
                </thead>
                <tbody>
                    <tr th:each="articulo : ${articulos}">
                        <td th:text="${articulo.descripcion}"></td>
                        <td th:text="${#numbers.formatDecimal(articulo.precio,3,2}" style="text-align: right"></td>
                        <td><a th:href="@{/carrito/agregar} + ${articulo.idArticulo}">Agregar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${articulos == null or articulos.empty}">No tenemos articulos que mostrar...
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>